{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    1 dakikadan kısa sürede okuyabilirsin
  {% elsif words < 360 %}
  1 dakikada okuyabilirsin
  {% else %}
    {{ words | divided_by:180 }} dakikada okuyabilirsin
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    1 dakikadan kısa sürede okuyabilirsin
  {% elsif words < 360 %}
    1 dakikada okuyabilirsin
  {% else %}
    {{ words | divided_by:180 }} dakikada okuyabilirsin
  {% endif %}
{% endif %}
