{% assign wordcount = include.content | number_of_words %}

<script type="application/ld+json">
{  
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "headline":"{{ include.headline }}",
   "genre":"{{ page.tags | join: ', ' | escape }}",
   "keywords":"{{ page.tags | join: ', ' | escape }}",
   "wordCount":"{{ wordcount }}",
   "url":"https://insansevmez.com/{{ include.link }}",
   "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
   "author":{  
      "@type":"Person",
      "name":"İnsan Sevmez",
      "sameAs":[  
        "https://https://twitter.com/insansevmez_",
        "https://www.facebook.com/insansevmezcom/",
      ]
   },
   "publisher":{  
      "@type":"Person",
      "name":"Paul D'Ambra",
      "sameAs":[  
      "https://https://twitter.com/insansevmez_",
      "https://www.facebook.com/insansevmezcom/",
      ],
      "logo": {
  		"@type": "ImageObject",
  		"contentUrl": "https://insansevmez.com/assets/img/logo.png",
  		  "url": "https://insansevmez.com/"
    }
   },
   "image":{  
      "@type":"ImageObject",
      "contentUrl":"https://insansevmez.com/assets/img/cardboard.jpg",
      "url":"https://pauldambra.github.io",
      "height":"280",
      "width":"650"
   },
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"https://insansevmez.com{{ include.link }}"
   },
   "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}"
}
</script>
