---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}

{{ content }}

<span class="post-date">
  Tarih: {{ page.date | date: "%d/%m/%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.development %}
close-advertisements
{% else %}
{% include advertisements-small.html %}
{% if site.data.settings.disqus.comments %}
{% include disqus.html %}
{% endif %}
{% endif %}

{% 
  include sutructured-data.html 
  headline=page.title
  genre=page.tags
  keywords=page.tags
  content=page.content
  link=page.permalink
  date=page.date
%}
